* {
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}
.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  width: 300px;
  position: relative;
}
.carousel-images {
  display: flex;
  transform: translateX(0);
  transition: transform 0.3s;
}
.btn {
  color: white;
  padding: 10px;
  border-radius: 5%;
  border: none;
  box-shadow: 0 0 5px white;
  background-color: rgba(12, 12, 12, 0.6);
  display: flex;
  position: absolute;
  z-index: 1;
}
.previous {
  left: 10px;
}
.next {
  right: 10px;
}
